<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>

  <link th:href="@{/css/common/reset.css}" rel="stylesheet" />
  <link th:href="@{/css/common/common.css}" rel="stylesheet" />
  <link th:href="@{/css/page/login.css}" rel="stylesheet" />

  <script src="https://unpkg.com/@phosphor-icons/web"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
  <main class="main">
    <header>
      <div class="logo temp-box">로고 영역</div>
    </header>
    <form class="login-form">
      <input type="text" placeholder="아이디" />
      <input type="password" placeholder="비밀번호" />
      <div class="login-options">
        <div class="checkbox">
          <input type="checkbox" id="remember" />
          <label for="remember">아이디 저장</label>
        </div>
      </div>
      <button type="button" class="btn primary login-btn" th:onclick="|location.hfre='@{/member}'|">로그인</button>
    </form>
    <ul class="links">
      <li><a href="#">비밀번호 찾기</a></li>
      <li><a href="#">아이디 찾기</a></li>
      <li><a href="#">회원가입</a></li>
    </ul>
  </main>

  <script type="text/javascript" th:src="@{/js/employee/index.js}"></script>
</body>

</html>