.detail {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  flex-direction: column;
}

.detail-list .detail-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.detail-list .detail-list-header h2 {
  font-size: 24px;
  font-weight: 500;
}

.detail-list .detail-list-header a {
  align-self: end;
}

.addEmp {
  cursor: pointer;
}